@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&family=Teko:wght@300&display=swap');
body{
 
    background-color: black;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
  }

.box1
{
    width: 50%;
    height: 50%;
   
        background-color:white;
        background-size: 100% 120%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      
        
      
   
}
.h1{
	font-family: Teko;
}
.dis
{
    color:black;
    padding-left: 30%;
    padding-bottom: 15%;
    padding-top: 15%;
}
.disp
{
    text-align: center;
    
     
}
