@charset "UTF-8";

.login-container{
	height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    background-color: #1B1B1B;
    color: white;
    border-radius: 5px 5px 0 0;
}

.signin-title{
	font-weight: 600;
	font-size: 20px;
}

.login-body{
    width: 350px;
    background-color: rgb(243, 243, 243);
    padding-bottom: 20px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.login-form input{
    width: 250px;
    height: 35px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(229, 229, 229);
    color: rgb(85,85,85);
}

.forgot-password{
    margin: 15px;
}
.forgot-password a{
	font-size: 15px;
    text-decoration: none;
    color: rgb(85,85,85);
}

.forgot-password a:hover{
    cursor: pointer;
    color: #1B1B1B;
}

.loginbtn{
	font-weight: 600;
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 3px;
    background-color: #E03A3C;
    color: white;
}

.loginbtn:hover{
	background-color: #1B1B1B;
}

.signup-direct{
    position: relative;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.signup-direct a{
    margin-left: 5px;
    padding: 0;
}

.a-text{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
}