@charset "UTF-8";

.register-container{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 80px;

}

.login-form{
    align-items: center;
}

.input-container{
    width: 575px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px
}

.label{
    width: 120px;
}

.signup-card-header{
	font-size: 30px;
	font-weight: 600;
    background-color: #1B1B1B;
    color: white;
    height: 65px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 0 0;
}

.signup-card-body{
    width: 700px;
    background-color: rgb(243, 243, 243);
    padding-bottom: 20px;
}

input.reg-input{
    height: 35px;
    width: 450px;
    border: none;
    border-radius: 4px;
    background-color: rgb(229, 229, 229);
    color: rgb(85,85,85);
}



.login-form{
    display: flex;
    flex-direction: column;
}

.names-container{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.name{
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: rgb(229, 229, 229);
    color: rgb(85,85,85);
}

.registerbutton{
	font-size: 20px;
	font-weight: 600px;
	margin-top: 35px;
    height: 35px;
    width: 450px;
    border: none;
    border-radius: 3px;
    background-color: #E03A3C;
    color: white;
}